body {
	padding-bottom: 70px;
	/*background: #d5e9ea; */
	/*position: relative; */
	
	/*-- This is from bootstrap.css, because clean-boostrap.css was overriding it. --*/
	    color: #333;
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	    font-size: 14px;
	    line-height: 1.42857;
	
}

/*-- Overriding Clean-blog.css settings: --*/
	footer {
		padding: 0px; 
	}
	.btn {
	    border: 1px solid transparent;
	    border-radius: 4px;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 1.42857;
	    padding: 6px 12px;
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: 700; 
	}
	div.post-preview {
		padding: 0px; 
	}
	div.post-preview a {
		/* color: #052880;*/  /*Opus mid blue */
		color: #00619b; 
	}
	.intro-header {
		background: #41568d; 
		/*height: 400px; */
		margin-bottom: 15px; 
	}
	.intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
		padding: 25px 0px; 
	}
	.intro-header .site-heading h1 {
		font-size: 58px; 
	}
	.intro-header .post-heading .subheading {
		margin: 0px 0px 20px 0px; 
	}
	.intro-header .post-heading .meta {
	    /*color: #333;*/
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	    font-size: 14px;
	    line-height: 1.42857;
	}

nav.navbar {
	border-radius: 0px;
	border-width: 0px 0px 0px 0px;
	/*background: #021139; /*Opus dark blue*/   
	color: #ffffff;*/ 
}
/*.navbar-default .navbar-nav > li > a {
	color: #ffffff; 
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active {
	color: #021139; 
	background: #edf1fe; 
}
nav.navbar .navbar-header a{
	color: #ffffff; 
}
nav.navbar .navbar-header a:hover, div.navbar-header .navbar a:active {
	color: #021139; 
	background: #edf1fe;
}*/

.jumbotron {
	background: #021139; /*Opus dark blue*/   
	color: #ffffff;
	padding: 15px; 
}

.table_background {
	background: #ffffff; 
}








h3.panel-title a {
	text-decoration: underline; 
}

div.row_spacer {
	height: 20px; 
}

 div.panel, div.panel-default {
 	/*border: 0;*/
	-webkit-box-shadow: none;
	box-shadow: none;
	/*border-right: solid 1px #eeeeee; */
	border-radius: 0px; 
}
div.panel-heading {
	/*border-radius: 0px; */
}
h3.panel-title {
	font-weight: bold; 
}
table.page_section td {
	font-size: 13px;
	color: #999999;  
}
table.page_section td div.td_content {
	display: block; 
	max-height: 20px;
	/*white-space: nowrap;*/  
	overflow: hidden; 
	/*text-overflow: ellipsis; */
}

a.panel_link {
	color: #000000;
}




footer.footer .jumbotron {
	/*background: #ACACAC; */ /* Opus gray */
	background: #606060; 
	text-align: center;  
}
footer.footer .jumbotron .container {
	padding-bottom: 10px; 
}














.control-label {
	white-space: nowrap; 
}
div.checkbox label {
	font-weight: bold; 
}
a {
	//color: #000000; 
}



div.paginator_div {
	float: right; 
}
