
#twitter_div h1.summary {
	font-size: 24px; 
	font-family: Opus Sans; 
	font-weight: 700; 
	margin-bottom: 10px;
    margin-top: 20px;
}
/*a.twitter-timeline {
	border: none; 
}*/
/*blockquote.twitter-tweet {
	border-top-width: 1px; 
}*/
